body
{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  line-height: 2;
}

footer
{
  color: #3f3f44;
  margin: 0;
  padding-bottom: 1%;
}

#title
{
  background-color: #ffe8df;
}

#about
{
  padding: 12% 8%;
  color: #3f3f44;
}

#work
{
  padding: 8% 0;
  background-color: #ffe8df;
  color: #3f3f44;
}

#contact
{
  padding: 8% 0;
  color: #3f3f44
}

.navbar
{
  font-size: 1.5rem;
  padding: 2% 10% 5% 10%;
  background-color: #ffe8df;
}

.nav-item
{
  padding-left: 7%;
  padding-right: 7%;
}

.navbar-brand
{
  font-size: 2rem;
  font-weight: 700;
}

.profile-name
{
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  margin: 0;

}

.profile-pic
{
  padding-top: 5%;
  padding-bottom: 10%;
}

.profile-desc
{
  margin: 0;
  color: #888888;
}

.about-title
{
  font-size: 4rem;
  padding-bottom: 8%;
  margin: 0;
}

.about-desc
{
  padding-left: 10%;
  padding-right: 10%;
  margin: 0;
}

.work-title
{
  font-size: 4rem;
  margin: 0;
  padding-bottom: 3%;
}

.contact-title
{
  font-size: 4rem;
  margin: 0;
  padding-bottom: 3%;
}

.img-thumbnail
{
  border-style: none;
  border-radius: 0;
  border-width: 0;
}

.contact-email
{
  padding-left: 2.1%;
  padding-right: 2.1%;
}

.btn-outline-dark:hover
{
  color: #ffe8df;
}

.col-lg-4
{
  padding: 2%;
}

.col-md-6
{
  padding: 5%;
}

.col-sm-12
{
  padding: 5%;
}

.row
{
  margin: 0;
}
